.InverseButton {
    background-color: #f5f5f5;
    color: #63610c;
    text-decoration: underline;
    margin-top: -20px;
    font-weight: 900;
}

.InverseButton:hover {
    background-color: #f5f5f5;
    color: #212529;
    text-decoration: underline;
}

.SignUpImage, .SignInImage {
    object-fit: cover;
    height: 70vh;
    width: 100%;

}