.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.CardTop {
    background-color: #02636d;
    color: white;
}

.Post figure,
h5 {
    margin: 0 0;
}

a {
    color: white;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #0EA098;
}

a:hover i {
    color: #0EA098;
    transition: color ease-in-out 0.3s;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #0EA098;
}

.ReadOrHide {
    color: #c4b6b6;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.User {
    font-weight: bold;
}

.Date {
    font-size: 14px;
}