.CardTop {
    background-color: #02636d;
}

.BlogButton {
    background-color: #02636d;
    border: none;
    color: white;
    margin-left: 1.5em;
}

.BlogFormButton {
    background-color: #02636d;
    border: none;
    color: white;
}

.BlogButton:disabled, .BlogFormButton:disabled {
    background-color: #02636d;
}

