.HeroImage {
    margin-top: -2.3em;
    height: 100vh;
	position: relative;
    background: url("../assets/homepage-hero-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;

}

.ImageLogo {
    object-fit: cover;
    max-height: 300px;
}

.Centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FullBleed {
    box-shadow: 0 0 0 100vmax #212529;
    clip-path: inset(-6vmax -100vmax);
}

.Intro {
    background-color: #212529;
    color: white;
    margin-bottom: 20vh;

}

.Globetrotter {
    height: 40vh;
    object-fit: cover;
    width: 100%;
}

.Journey {
    background-color: #63610c;
}

.SignUpButton {
    background-color: #63610c;
}

.SignInButton {
    background-color: #f5f5f5;
    color: #63610c;
    text-decoration: underline;
}

.SignInButton:hover {
    background-color: #f5f5f5;
    color: #212529;
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    .HeroImage {
        height: 44.8em;
        position: sticky;
        background-size: 800px;
    }
}

@media screen and (max-width: 767px) {
    .HeroImage {
        height: 44.8em;
        position: sticky;
        background-size: 550px;
        background-position: center;
    }
}

@media screen and (max-width: 575px) {
    .HeroImage {
        margin-top: 0em;
        height: 44.8em;
        position: sticky;
        background-size: cover;
    }

    .Intro {
        margin-bottom: 13vh;
    }
}