.Hero {
    background: url("../assets/homepage-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    margin-top: -2em;
    width: calc(100% + (22em * 2));
    margin-left: -22em;
    background-position: center;
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.2);
}

.Intro {
    background-color: #c4b6b6;

}

.Journey {
    background-color: #63610c;
}