.NavBar {
    background-color: #63610C;
    border-bottom: 1px solid white;
    position: sticky;
}

.NavBarButton {
    border: none;
    border-radius: 100px;
    color: white;
    background-color: #0EA098;
    padding: 0.4em 1.2em;
    margin: 4px 0
}

.NavBarButton:focus, .NavBarButton:focus-visible, .NavBarButton:active {
    border-color: transparent;
    background-color: transparent;
    border: none;
}

.NavBarButton:hover {
    background-color: #c4b6b6;
}

.NavLink {
    padding: 10px
}

.Active {
    color: #0EA098
}

.Active i {
    color: #0EA098
}

a {
    color: white;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #0EA098;
}

a:hover i {
    color: #0EA098;
    transition: color ease-in-out 0.3s;
}

i {
    color: white;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
    transition: color ease-in-out 0.3s;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #0EA098;
}