.HeroImage {
    margin-top: -2em;
    width: calc(100% + (25em * 2));
    margin-left: -25em;
    height: 800px;
    object-fit: cover;
}

.Hero {
    height: 850px;
    width: 100%;
    object-fit: cover;
}

.Title {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 90px;
}

.Card {
    margin-top: -8em;
    margin-bottom: 4em;
}

.CardTop {
    background-color: #02636d;
    color: white;
}

.User {
    font-weight: bold;
}

.Date {
    font-size: 14px;
}