.App {
    font-family: "Source Sans 3", sans-serif;
    min-height: 100vh;
    color: darkslategrey;
    background-color: #f5f5f5;
}

.Headings {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
}

.Main {
    padding-top: 82px;
    padding-bottom: 82px;
}

* {
    box-sizing: border-box;
}

.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FollowButton {
    background-color: #0ea098;
    color: white;
    border-width: 0px;
    border-radius: 100px;

}

.FollowButton:hover {
    background-color: #c4b6b6;
}

.Image {
    max-height: 400px;
    max-width: 720px;
    object-fit: cover;
    
}

.GridImage {
    max-height: 170px;
    max-width: 330px;
    object-fit: cover;
    height: 300px;
}

input[type="file"] {
    display: none;
}

.BlogButton {
    border: none;
    background-color: #02636d;
    color: white;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.BlogButton:hover {
    cursor: pointer;
    background-color: #c4b6b6;
    color: white;
}

.BlogButton:disabled {
    background-color: #02636d;
}