.App {
    font-family: "Source Sans 3", sans-serif;
    min-height: 100vh;
    color: darkslategrey;
    background-color: #f5f5f5;
}

.Headings {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
}

.Main {
    padding-top: 82px;
    padding-bottom: 82px;
}

* {
    box-sizing: border-box;
}

.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FollowButton {
    background-color: #0ea098;
    color: white;
    border-width: 0px;
    border-radius: 100px;

}

.FollowButton:hover {
    background-color: #c4b6b6;
}

.Image {
    max-height: 400px;
    max-width: 720px;
    object-fit: cover;
    
}

.GridImage {
    max-height: 170px;
    max-width: 330px;
    object-fit: cover;
    height: 300px;
}

input[type="file"] {
    display: none;
}

.Button {
    border: none;
    border-radius: 100px;
    color: white;
    padding: 12px 28px;
}

.Button:hover {
    cursor: pointer;
    background-color: #c4b6b6;
    color: white;
}

a {
    color: white;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #0EA098;
}

a:hover i {
    color: #0EA098;
    transition: color ease-in-out 0.3s;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #0EA098;
}

.ReadOrHide {
    color: #c4b6b6;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.User {
    font-weight: bold;
}

.Date {
    font-size: 14px;
}