.App {
    font-family: "Source Sans 3", sans-serif;
    min-height: 100vh;
    color: #212529;
    background-color: #f5f5f5;
}

.MinPageHeight {
    min-height: 70.4vh;
}

body {
    margin-top: -5vh;
}

p {
    font-size: large;
}

.Headings {
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
}

.TabsNavBar {
    color: #495057;
    background-color: #63610c;
}

.TabBackgroundColor {
    background-color: white;
    border-radius: 8px;
}

.GreenHeading {
    color: #63610c;
}

.BlueHeading {
    color: #02636d;
}

.GreyBlueHeading {
    color: #46616e;
}

.TealHeading {
    color: #0ea098;
}

.Main {
    padding-top: 82px;
    padding-bottom: 82px;
}

* {
    box-sizing: border-box;
}

.FollowButton {
    background-color: #0ea098;
    color: white;
    border-width: 0px;
    border-radius: 100px;
}

.FollowButton:hover {
    background-color: #c4b6b6;
}

.FollowButton:active, .FollowButton:focus-visible .FollowButton:focus  {
    background-color: transparent;
    border-color: transparent;
}

.FollowButton:focus {
    color: #63610c;
}

.Image {
    max-height: 300px;
    max-width: 900px;
    object-fit: cover;
    
}

.SmallImage {
    max-height: 130px;
    max-width: 900px;
    object-fit: cover;
    
}

input[type="file"] {
    display: none;
}

.Button {
    border: none;
    border-radius: 100px;
    color: white;
    padding: 0.7em 1.5em;
}

.Button:hover {
    cursor: pointer;
    background-color: #c4b6b6;
    color: white;
}

.Button:focus, .Button:active, .Button:focus-visible {
    background-color: transparent;
    border-color: transparent;
}

.InverseButton {
    background-color: #f5f5f5;
    color: #63610c;
    text-decoration: underline;
    margin-top: -20px;
    font-weight: 900;
}

.InverseButton:hover {
    background-color: #f5f5f5;
    color: #212529;
    text-decoration: underline;
}

.InverseButton:focus, .InverseButton:active {
    background-color: transparent;
    color: #63610c;
    border-color: transparent;
}

.GreenButton, .GreenButton:disabled {
    background-color: #63610c;
}

.BlueButton, .BlueButton:disabled {
    background-color: #02636d;
}

.ReadOrHide {
    color: #c4b6b6;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.User {
    font-weight: bold;
}

.Date {
    font-size: 14px;
}

.HeroImage {
    margin-top: -2.6em;
    height: 59em;
    overflow: hidden;
	position: relative;
}

.Hero {
    height: 960px;
    width: 100%;
    object-fit: cover;
}

.Title {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em 4em;
}

.Card {
    margin-top: -10em;
    margin-bottom: 4em;
}

@media screen and (max-width: 767px) {
    .Image {
        max-width: 512px;
        max-height: 190px;
        object-fit: cover;
    }

    .SmallImage {
        max-width: 512px;
        max-height: 190px;
        object-fit: cover;
        
    }
}

@media screen and (max-width: 575px) {
    .HeroImage {
        width: 100%;
        height: 800px;
        object-fit: cover;
        position: sticky;
    }

    .Title {
        position: absolute;
        top: 41%;
        padding: 13em 15em;
    }

    body {
        margin-top: -10.0vh;
    }

    .Image {
        max-width: 500px;
        max-height: 265px;
        object-fit: cover;
    }

    .SmallImage {
        max-width: 500px;
        max-height: 165px;
        object-fit: cover;
        
    }
}